.Pagination {
  /* position: absolute;
  bottom: 1.5rem; */
}

.Pagination button {
  margin: 0 .6rem;
  height: 3rem;
  width: 3rem;
  font-weight: bold;
  font-size: 1.8rem;
  /* margin-bottom: 1rem; */
  border-radius: 100%;
  background-color: white;
  border: none;
  color: #3E4A64;
  cursor: pointer;
  transition: .25s ease;
}

.Pagination button:hover {
  transform: translateY(-0.25rem);
}

.selected {
  background-color: #2BFFA3 !important;
}