.CardRow {
  width: calc(100% - 3.5rem);
  min-height: 55px;
  padding: 1rem 2rem;
  border-top: 1px solid #778197;
  display: flex;
  align-items: center;
}

.CardRow a:link, .CardRow a:visited {
  text-decoration: none;
  color: white;
  transition: .25s ease all;
}

.CardRow a:hover {
  color: #2BFFA3;
}
