.Body {
  display: grid;
  height: calc(100% - 80px);
  min-height: calc(100vh - 90px);
  padding-top: calc(60px + 3rem);
  padding-right: 3rem;
  padding-left: 3rem;
  background-color: #778197;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
  grid-auto-rows: 1px;
  transition: all .25s ease-in-out;
}

@media screen and (min-width: 660px) {
  .Body {
    padding-left: calc(250px + 3rem);
  }
  .menuClosed {
    padding-left: 3rem !important;
  }
}

@media screen and (max-width: 390px) {
  .Body {
    padding-left: 1.2rem;
    padding-right: 1rem;
  }
}